.btn{
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--color-grey-0, #FFF);

    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 24px */

    flex-shrink: 0;

    cursor: pointer;

    border-radius: 9px;

    &.btn-rounded{
        border-radius: 100px;
    }
}

.btn.btn-primary{
    background: #2F5DFF;

    &:hover{
        background: #1A1C24;
        text-decoration: none;
    }
}

.btn.btn-link{
    background: transparent;
    color: var(--color-grey-0, #FFF);

    &:hover{
        background: #1A1C24;
        text-decoration: none;
    }
}

.btn-icon-right{
    margin-left: 0.5rem;
}
